  <div class="sessoes">
    <div class="cima">
      <div id="boxPlacarOnline">
        <img id="imgPlacarOnline" src="../assets/imgs/placar-online.svg">
        <label id="lblPlacarOnline" type="text">Placar Online</label>
      </div>
            
      <div id="boxMarketplace">
        <img id="imgMarketplace" src="../assets/imgs/marketplace.svg">
        <label id="lblMarketplace" type="text">Marketplace</label>
      </div>
    </div>

    <div class="baixo">
      <div id="boxLojaDaTorcida">
        <img id="imgLojaDaTorcida" src="../assets/imgs/loja-da-torcida.svg">
        <label id="lblLojaDaTorcida" type="text">Loja da Torcida</label>
      </div>
            
      <div id="boxMinhaConta">
        <img id="imgMinhaConta" src="../assets/imgs/minha-conta.svg">
        <label id="lblMinhaConta" type="text">Minha Conta</label>
      </div>
    </div>


