<!-- Generated template for the HomeDashboardComponent component -->
<div>

  <div class="coluna-esquerda">
    <div class="coluna-esquerda-cima">
      <div class="info-usuario">
        <img id="imgLogo" src="../assets/imgs/logo-usjt.jpeg">
        <label id="lblAdministracao" type="text">Administração</label>
        <label id="lblNome" type="text">Fulano Admin</label>
        <label id="lblEmail" type="text">s.ferguson@gmail.com</label>
      </div>
    </div>

    <div id="coluna-esquerda-baixo">
      <!-- <img id="imgLogo" src="../assets/imgs/tres-pontos.svg"> -->
      <!-- <label id="lblMinhaConta" type="text">Minha Conta</label> -->
    </div>
  </div>

  <div class="sessoes">
    <div class="cima">
      <div id="boxPlacarOnline">
        <img id="imgPlacarOnline" src="../assets/imgs/placar-online.svg">
        <label id="lblPlacarOnline" type="text">Placar Online</label>
      </div>
            
      <div id="boxMarketplace">
        <img id="imgMarketplace" src="../assets/imgs/marketplace.svg">
        <label id="lblMarketplace" type="text">Marketplace</label>
      </div>
    </div>

    <div class="baixo">
      <div id="boxLojaDaTorcida">
        <img id="imgLojaDaTorcida" src="../assets/imgs/loja-da-torcida.svg">
        <label id="lblLojaDaTorcida" type="text">Loja da Torcida</label>
      </div>
            
      <div id="boxMinhaConta">
        <img id="imgMinhaConta" src="../assets/imgs/minha-conta.svg">
        <label id="lblMinhaConta" type="text">Minha Conta</label>
      </div>
    </div>

</div>

