<div class="central">
    <div class="titulo-cadastro">
        <img src="../../assets/imgs/marketplace.svg" class="icone-convenio">
        <div>
          <p class="titulo-partida">MARKETPLACE</p>
        </div>
    </div>

    <div class="cadastro-de-convenios">
        <p class="flex">Cadastro de convênios</p>
    </div>

    <div class="convenios">
        <p class="flex">Convênios</p>
      </div>

      <form class="flex flex-column" id="usrform">
          <input type="text" [(ngModel)]="convenio.nome" name="nome" placeholder="Nome do convênio" class="convenio-info-input">
          <input type="text" [(ngModel)]="convenio.nomeReponsavel" name="nomeReponsavel" placeholder="Nome do Responsavel" class="convenio-info-input">
          <input type="text" [(ngModel)]="convenio.cpf" name="cpf"  placeholder="CPF" class="convenio-info-input">
          <input type="text" [(ngModel)]="convenio.fone" name="fone" placeholder="Telefone" class="convenio-info-input">
          <input type="text" [(ngModel)]="convenio.email" name="E-mail" placeholder="E-mail" class="convenio-info-input">
          <input type="text" [(ngModel)]="convenio.endereco" name="Endereco" placeholder="Endereço" class="convenio-info-input">
          <input type="text" [(ngModel)]="convenio.pontuacaoQRCode" name="Pontuacao" placeholder="Pontuação QRCode" class="convenio-info-input">

      </form>
      <div class="position-botao">
          <button class="botao-cadastrar" (click)="cadastrarConvenio()"><p class="cadastrar">Avançar</p></button>
      </div>

</div>