<div class="central">
    <div class="titulo-cadastro">
        <img src="../../assets/imgs/marketplace.svg" class="icone-convenio">
        <div>
          <p class="titulo-partida">MARKETPLACE</p>
        </div>
    </div>

    <div class="cadastro-de-convenios">
        <p class="flex">Cadastro de convênios</p>
    </div>

    <div class="convenios">
        <p class="flex">Convênios</p>
      </div>

      <form class="flex flex-column" id="usrform">
          <input type="text" placeholder="Nome do convênio" class="convenio-info-input">
          <input type="text" placeholder="URL do icone" class="convenio-info-input">
          <input type="text" placeholder="Descrição do convênio" class="convenio-info-input">
      </form>

      <textarea name="descricao-convenio" form="usrform" placeholder="Descrição do convênio" class="convenio-descricao"></textarea>

      <div class="position-botao">
          <button class="botao-cadastrar"><p class="cadastrar">Avançar</p></button>
      </div>

</div>