<div class="central">
  <div class="titulo-cadastro">
    <img src="../../assets/imgs/icon-hearder-placar.png">
    <div>
      <p class="titulo-partida">Placar Online</p>
    </div>
  </div>

  <div class="placar-tempo-real">
    <p class="flex">PLACAR EM TEMPO REAL</p>
  </div>

  <div class="acoes-partida">
    <div class="position-titulo-acoes">
      <p class="titulo-acoes">AÇÕES DA PARTIDA</p>
    </div>
    <div class="position-botoes">
      <div class="botao-esquerda">
        <button class="botao-adicionar" (click)="adicionarSet()">
          <p class="botao-acao-fonte">Adicionar set</p>
        </button>
        <button class="botao-atualizar" (click)="atualizarPlacar()">
          <p class="botao-acao-fonte">Atualizar placar</p>
        </button>
      </div>
      <div class="botao-direita">
        <button class="botao-finalizar" (click)="finalizarPartida()">
          <p class="botao-acao-fonte">Finalizar partida</p>
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="sets-position">
    <p class="flex sets">SET 1</p>
  </div>

  <div class="sets-finalizado-pai">
    <div class="position-time1-info">
      <p class="flex time-info">Time 01</p>
      <p class="flex time-pontos">27</p>
    </div>

    <div class="position-time1-info">
      <p class="flex time-info">Time 02</p>
      <p class="flex time-pontos">27</p>
    </div>

    <div class="position-set-finalizado">
      <p class="flex set-finalizado">SET FINALIZADO</p>
    </div>
  </div> -->

  <div id="set-numero-{{i}}" class="set-item" *ngFor="let item of sets; let i = index">
    <div class="sets-position">
      <p class="flex sets">SET {{i+1}}</p>
    </div>
  
    <div class="sets-ativo-pai">
      <div class="position-time2-info">
        <p class="flex time-info">São Judas</p>
        <div class="flex flex-row position-placar-botao">
          <button class="botao-menos" (click)="diminuirPontoSJ(i)">-</button>
          <p class="flex pontos">{{item.pontoSetAtualSJ}}</p>
          <button class="botao-mais" (click)="aumentarPontoSJ(i)">+</button>
        </div>
      </div>
  
      <div class="position-time2-info">
        <p class="flex time-info">Time 04</p>
        <div class="flex flex-row position-placar-botao">
          <button class="botao-menos" (click)="diminuirPontoAdversario(i)">-</button>
          <p class="flex pontos">{{item.pontoSetAtualAdversario}}</p>
          <button class="botao-mais" (click)="aumentarPontoAdversario(i)">+</button>
        </div>
      </div>
  
  
      <div class="position-botao-sets">
        <p class="finalizado-msg">Set Finalizado</p>
        <button class="botao-atualizar-set" (click)="adicionarSet(i); finalizarSet(i)">
          <p class="botao-fonte">Avançar set</p>
        </button>
        <button class="botao-finalizar-set" (click)="finalizarSet(i)">
          <p class="botao-fonte">Finalizar set</p>
        </button>
      </div>
  
    </div>
  </div>

  <!-- <div class="posse-bola-titulo">
    <p class="posse-fonte">Posse de bola:</p>
    <button class="botao-posse-ativa">
      <p class="botao-fonte">São Judas</p>
    </button>
    <button class="botao-posse-desativada">
      <p class="botao-fonte">Visitante</p>
    </button>
  </div> -->
</div>