tela-login {
    right: 0;
    top: 0;

    .coluna-esquerda {
        float: left;

        #imgTime {
            left: -4px;
            position: fixed;
            height: 100%;
            width: calc(100% - 300px);
        }
    }

    .coluna-direita {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        float: right;
        height: 100%;
        width: 410px;
        background: #184a72;
        right: 0;
        top: 0;
        font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .form-login {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 50px;
            height: 65%;
            position: relative;
            top: -15%;
        }

        #imgLogo {
            width: 58%;
            top: -20%;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
        }

        #lblAdministracao {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            color: #6699c2;
            font-weight: bold;
            font-size: 17px;
            margin-top: 10px;
            text-shadow: -5px 5px 16px #192a56;
        }
    
        .preencher {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 47%;
            width: 100%;
            position: relative;
            top: 30%;
            // background: #fff;

            #inpUsuario, #inpSenha {
                border-radius: 14px;
                margin-top: 25px;
                color: #9FCFF6;
                background-color: #2e638e;
                border-color: #2e638e;
                border: 1px;
                height: 18%;
                width: 100%;
                box-shadow: -5px 5px 16px #192a56;
                padding: 0px 13px 3px;
                font-weight: bold;            
            }
            
            #btnEntrar {
                border-radius: 14px;
                background-color: #86a83d;
                margin-top: 20px;
                height: 18%;
                width: 100%;
                color: #fff;
                box-shadow: -5px 5px 16px #192a56;
                letter-spacing: 1px;
                font-weight: bold;
            }
    
        }
    }

    ::-webkit-input-placeholder{
        color: #9fcff6;
        font-weight: bold;
      }
}