<div>
  <div class="coluna-esquerda">
    <img id="imgTime" src="../assets/imgs/time-usjt.jpeg">
  </div>

  <div class="coluna-direita">
    <div class="form-login">
      <img id="imgLogo" src="../assets/imgs/logo-usjt.png">
        <label id="lblAdministracao">Administração do aplicativo</label>
        
        <div class="preencher">
          <input id="inpUsuario" type="text" class="form-control" placeholder="Usuário" maxlength="20" required>
          <input id="inpSenha" type="password" class="form-control" placeholder="Senha" maxlength="20" required>
          <button id="btnEntrar" ion-button color="success" ion-button full style="text-align:center;">Entrar</button>
        </div>
    </div>
  </div>
</div>