
  <div class="coluna-esquerda-cima">
    <div class="info-usuario">
      <img id="imgLogo" src="../assets/imgs/logo-usjt.png">
      <label id="lblAdministracao" type="text">Administração</label>
      <label id="lblNome" type="text">{{nome}}</label>
      <label id="lblEmail" type="text">{{email}}</label>
    </div>
  </div>

  <div id="coluna-esquerda-baixo">
    <!-- <img id="imgLogo" src="../assets/imgs/tres-pontos.svg"> -->
    <!-- <label id="lblMinhaConta" type="text">Minha Conta</label> -->
  </div>
