menu-lateral {

.coluna-esquerda {
    position: fixed;
    float: left;
    background: #F8F8F8;
    height: 100%;
    width: 300px;
    box-shadow: -5px 5px 18px #b2bec3;
    padding-top: 100px;

    .coluna-esquerda-cima {
        height: 50%;

        .info-usuario {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;        
            height: 100%;
            position: relative;
            top: -18%;

            #imgLogo {
                width: 45%;
            }

            #lblAdministracao {
                font-weight: bold;
                color: #4577b1;
                margin: 10px;
                font-size: 17px;
            }

            #lblNome {
                color: #333;
                font-size: 17px;
            }

            #lblEmail {
                color: #c4c4c4;
                font-size: 11px;
            }
        }
        
    }

    .coluna-esquerda-baixo {
        
    }
}
}