page-placar {

    .header{
        display: flex;
        justify-content: flex-start;
        padding: 5px

    }
    .icon-img-header{
        width: 51px;
        height: 51px;
        object-fit: contain;
    }
    .titulo-header {
        margin-left: 10px;
        font-family:Poppins;
        font-size: 23px;
        color: #4577b1;
      }

      .titulo-body {
        
        margin-left: 10px;
        margin-bottom: 30px;
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        font-family: Poppins;
        font-size: 35px;
    
        color: #0f558b;
      }
      .casa-visitante{
        display: flex;
        justify-content:center;

        font-family: Poppins;
        font-size: 25px;
        color: #d7d7d7;
      }
      .pontuacao
      {
        font-family: Poppins;
        font-size: 66px;
        color: #000000;
      }
      .img-pontuar{
        width: 28px;
        height: 38px;
        margin: 25px;
        object-fit: contain;

      }
      .btn-pose-bola{
        width: 756px;
        height: 612px;
        box-shadow: 15px 15px 43px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
      }
      ion-content{
          margin-top: 40px
      }
}
