<div class="central" *ngIf="!partidaEmAndamento">
  <div class="titulo-cadastro">
    <img src="../../assets/imgs/icon-hearder-placar.png">
    <div>
      <p class="titulo-partida">Placar Online</p>
    </div>
  </div>

  <div class="adicionar-partida">
      <p class="flex">Adicionar partida</p>
  </div>

  <div class="times">
    <p class="flex">TIMES</p>
  </div>

  <div class="novo-adversario">
    <img src="../../assets/imgs/logo-usjt.png" class="usjt-icon">

    <div class="adversario-info">
      <p class="adversario-titulo">Adversário</p>

    <form class="flex flex-column">
        <input type="text" [(ngModel)]="bodyRequest.timeB" name="timeB" placeholder="Nome do time" class="adversario-info-input">
        {{timeB}}
        <input type="text" [(ngModel)]="bodyRequest.urlLogoAdv" name="urlLogoAdv" placeholder="URL do logo" class="adversario-info-input">
    </form>
    </div>
  </div>

  <div class="partida-info">
    <p class="detalhes-partida">DETALHES DA PARTIDA</p>

    <form class="partida-info-form">
      <div>
        <input type="text" [(ngModel)]="bodyRequest.data" name="data" placeholder="Data" class="partida-info-input">
        <input type="text" [(ngModel)]="bodyRequest.hora" name="hora" placeholder="Horário" class="partida-info-input">
        <input type="text" [(ngModel)]="bodyRequest.local" name="local" placeholder="Local" class="partida-info-input">
      </div>
      <div>
        <!-- <input type="text" [(ngModel)]="bodyRequest.campeonatoNome" name="campeonatoNome" placeholder="Campeonato" class="partida-info-input">
        <input type="text" [(ngModel)]="bodyRequest.visitante" name="visitante" placeholder="São Judas como visitante?" class="partida-info-input"> -->
      </div>
    </form>

    <div class="position-botao">
      <button class="botao-avancar" (click)="sendRequest()">
        <p class="avancar">Avançar</p>
      </button>
    </div>
  </div>
</div>

<placar-online *ngIf="partidaEmAndamento"></placar-online>
